html {
    background: #FAFAFA;
    padding-left: 25px;
}

.card-body {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    border: #9C9F9F solid 2px;
    box-shadow: 0 0 4px #9C9F9F;
    background-color: white;
    background-image: linear-gradient(white, #EFEFEC);
    position: relative;
    width: 200px;
    padding: 20px;
}

.Button_Register {
    position: relative;
    display: block;
    width: 100%;
    height: 52px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px #036;
    border-radius: 6px;
    background-color: #00CCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00CCCC), color-stop(100%, #6699CC));
    background-image: -webkit-linear-gradient(#00CCCC, #6699CC);
    background-image: linear-gradient(#00CCCC, #6699CC);
    cursor: pointer;
    border: solid 2px;
    border-color: #09C #069 #036;
    box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
}

.Button_Login {
    position: relative;
    display: block;
    width: 100%;
    height: 52px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px #036;
    border-radius: 6px;
    background-color: #00CCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00CCCC), color-stop(100%, #6699CC));
    background-image: -webkit-linear-gradient(#00CCCC, #6699CC);
    background-image: linear-gradient(#00CCCC, #6699CC);
    cursor: pointer;
    border: solid 2px;
    border-color: #09C #069 #036;
    box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
}

.container {
    display: flex;
}

.collapse {
    margin: 0 0 0 auto;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    margin: 1em;
    justify-content: flex-end;
}

.card {
    display: flex;
}

.Top_Video {
    display: flex;
}

.Description_Contributor {
    display: flex;
}

.Description {
    margin: auto 10px auto 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

.Contributor_Icon {
    width: 50px;
    height: auto;
}

.Advertisement_Icon {
    width: 250px;
    height: auto;
}

.PickUp_Container_Thumbnail {
    width: 250px;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.PickUp {
    display: flex;
    flex-wrap: wrap;
}

.PickUp_Container {
    margin: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.PickUp_Container_Icon {
    width: 50px;
    height: auto;
}

.Video_GridCell {
    display: flex;
}

.Video_GridCell_MetaContainer {
    display: flex;
}

.Video_GridCell_Meta {
    display: flex;
}

.Video_Creator_Thumbnail {
    width: 50px;
    height: auto;
}

.Video_Creator_FollowButton {

}

.Video_Tag_List {
    display: flex;
}

.Video_Player {
    display: flex;
}

.Video_Comment_Input {
    width: 85%;
}

.Video_Creator_Info {
    display: flex;
}
